<div class="wizard">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			data-ng-click="close()" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h3 class="modal-title lead">Wizard Edit View</h3>
	</div>
	<div class="modal-body" style="text-align:center;">
		<button class="btn complete btn-lg" data-ng-click="Update()">Update</button>
		<button class="btn complete btn-lg" data-ng-click="Delete()">Remove Activites</button>
	</div>
	<div class="modal-footer">
	</div>
</div>