<header class="transparent" data-ng-include="'app/views/en-US/header.html'"></header>
<div class="home">
    <div class="hero">
        <h1 class="lead">Geppetto</h1>
    </div>
    <div class="reason">
        <h2>Fastest way to create applications</h2>
        <p>
            Lorem ipsum dolor sit amet, cu inani facilis est,
            mei inermis facilisi referrentur ut, modo splendide
            duo an. Dolorem adolescens omittantur id nam, ad inani
            detracto disputando duo. Erant delicatissimi in qui.
            Vim sint consectetuer an, no cum meliore vivendo appellantur,
            sea feugait abhorreant percipitur an. Quo ei omnis integre elaboraret,
            et quo debitis vivendum. Sea no solum accumsan assentior, vis id
            ullum docendi oportere.
        </p>
        <p>
            Ius salutatus assueverit ei. Nam no impetus pertinacia, ne expetenda hendrerit
            cum, eam quod antiopam prodesset ex. Ut ocurreret disputationi vim, labores admodum
            an qui, magna inermis eu his. Cibo doctus efficiendi vis an.
            Hinc iusto concludaturque ad per,
            soleat suscipiantur nec ad. Eos ei dictas fabellas constituam.
        </p>
    </div>
</div>
<footer data-ng-include="'app/views/en-US/footer.html'"></footer>