<div class="project save">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			data-ng-click="close()" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h1 class="modal-title lead">Message!!</h1>
	</div>
	<div class="modal-body">
		<form class="create">
			<div class="form-group">{{modalData.message}}</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" data-ng-click="close()">OK</button>
	</div>
</div>