<div class="main">
    <section class="section-bg1">
        <div class="container">
            <div class="row">
                <section id="stat-banner" style="padding-bottom:0;">
                    <img src="inc/img/about_02.png">
                </section>
                <section class="section-bg1" style="padding:0;">
                <div class="container" id="bg-wrapper">
                    <div class="row">
                      <div class="col-xs-12 col-md-6">
                        <div id="adt-desc">
                            <div class="pull-center line-dwn">
                                <h3>About Us</h3>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, te sumo fierent persecuti usu, sit at dicta moderatius. In diceret tractatos eos, atqui detraxit prodesset ei his. Vivendo adversarium vix no. Vix at augue oportere corrumpit, postulant percipitur eos id. Iuvaret persecuti ne per, an dico dictas maluisset pro. At erant laoreet est, putent oblique usu cu.</p>
                            <p>
                                Lorem ipsum dolor sit amet, te sumo fierent persecuti usu, sit at dicta moderatius. In diceret tractatos eos, atqui detraxit prodesset ei his. Vivendo adversarium vix no. Vix at augue oportere corrumpit, postulant percipitur eos id. Iuvaret persecuti ne per, an dico dictas maluisset pro. At erant laoreet est, putent oblique usu cu.
                            </p>
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-6">
                        <div id="adt-desc">
                            <div class="pull-center line-dwn">
                                <h3>What We do</h3>
                            </div>
                             <ul class="li-do">
                                <li>
                                    <i class="fa fa-check"></i> Vivendo adversarium vix no. Vix at augue oportere corrumpit,
                                </li>
                                <li>
                                    <i class="fa fa-check"></i> Vivendo adversarium vix no. Vix at augue oportere corrumpit,
                                </li>
                                <li>
                                    <i class="fa fa-check"></i> Vivendo adversarium vix no. Vix at augue oportere corrumpit,
                                </li>
                                <li>
                                    <i class="fa fa-check"></i> Vivendo adversarium vix no. Vix at augue oportere corrumpit,
                                </li>
                                <li>
                                    <i class="fa fa-check"></i> Vivendo adversarium vix no. Vix at augue oportere corrumpit,
                                </li>
                             </ul>
                        </div>
                      </div>
                    </div>
                </div> <!-- /container -->
                <div class="container">
                    <div id="abt-service">
                        <div class="pull-center" style="margin-bottom:40px;">
                            <h3>Our Services</h3>
                        </div>
                        <div class="col-sm-6 col-md-3 pull-center">
                            <div id="icon-serv">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <h4> Sample Text</h4>
                        </div>
                         <div class="col-sm-6 col-md-3 pull-center">
                            <div id="icon-serv">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <h4> Sample Text</h4>
                        </div>
                         <div class="col-sm-6 col-md-3 pull-center">
                            <div id="icon-serv">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <h4> Sample Text</h4>
                        </div>
                         <div class="col-sm-6 col-md-3 pull-center">
                            <div id="icon-serv">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <h4> Sample Text</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div><!-- /container -->
                <div class="container" id="bg-wrapper">
                    <div class="row">
                    <div class="col-xs-12 col-md-3">
                    </div>
                     <div class="col-xs-12 col-md-6">
                        <div id="adt-desc">
                            <div class="pull-center line-dwn">
                                <h3>Our Team</h3>
                            </div>
                         </div>
                     </div>
                     <div class="col-xs-12 col-md-3">
                     </div>
                     <div class="clearfix"></div>
                    </div>
                    <div class="row">
                          <div class="col-xs-12 col-md-4">
                            <div id="team-mem">
                                <figure>
                                    <img src="inc/img/about_05.png"/>
                                    <figcaption>
                                        <h2>John doe</h2>
                                        <h3>Managing Director</h3>
                                    </figcaption>
                                    <div class="team-foot">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </figure>
                            </div>
                          </div>
                          <div class="col-xs-12 col-md-4">
                            <div id="team-mem">
                                <figure>
                                    <img src="inc/img/about_05.png"/>
                                    <figcaption>
                                        <h2>John doe</h2>
                                        <h3>Managing Director</h3>
                                    </figcaption>
                                    <div class="team-foot">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </figure>
                            </div>
                          </div>
                          <div class="col-xs-12 col-md-4">
                            <div id="team-mem">
                                <figure>
                                    <img src="inc/img/about_05.png"/>
                                    <figcaption>
                                        <h2>John doe</h2>
                                        <h3>Managing Director</h3>
                                    </figcaption>
                                    <div class="team-foot">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </figure>
                            </div>
                          </div>
                        </div>
                </div>
                </section>
            </div>
        </div>
    </section>
</div>