<div class="main">
    <section class="section-bg1">
        <div class="container">
            <div class="row">

    <section class="section-bg1" style="padding-bottom:0px;">
    <div class="container" id="bg-wrapper">
    	<div class="row">
        <div class="col-xs-12 col-md-3">
        </div>
         <div class="col-xs-12 col-md-6">
            <div id="adt-desc" style="margin-top:20px;">
                <div class="pull-center line-dwn">
                    <h3>Contact Us</h3>
                </div>
             </div>
         </div>
         <div class="col-xs-12 col-md-3">
         </div>
         <div class="clearfix"></div>        
        </div>
        <div id="contact-wrapper">
         <div class="col-sm-6 col-md-3 pull-center">
            <div id="icon-contact">
                <i class="fa fa-envelope"></i>
            </div>
            <h4> Email </h4>
            <h5>infogoppettop@gmail.com</h5>
         </div>
         <div class="col-sm-6 col-md-3 pull-center">
            <div id="icon-contact">
                <i class="fa fa-phone"></i>
            </div>
            <h4> Phone </h4>
            <h5> +11 86754 7892</h5>
         </div>
         <div class="col-sm-6 col-md-3 pull-center">
            <div id="icon-contact">
                <i class="fa fa-globe"></i>
            </div>
            <h4> Web </h4>
            <h5> www.geppettop.com</h5>
         </div>
         <div class="col-sm-6 col-md-3 pull-center">
            <div id="icon-contact">
                <i class="fa fa-skype"></i>
            </div>
            <h4> Skype </h4>
            <h5>infogeppettop@skype.com</h5>
         </div>   
            <div class="clearfix"></div>
            <div class="btm-bdr">&nbsp;</div>
            <div id="enquiry-form">
            <form class="form-horizontal" id="" action="">
            <h3>Enquiry Us :</h3>
            <div class="row">
              <div class="col-sm-12 col-md-4">
              	<label for="inputEmail3" class="control-label">Name :</label>
                <p>
                    <input type="text" class="form-control" id="" placeholder="">
                </p>
              </div>
              <div class="col-sm-12 col-md-4">
              	<label for="inputEmail3" class="control-label">Email :</label>
                <p>
                    <input type="text" class="form-control" id="" placeholder="">
                </p>
              </div>
              <div class="col-sm-12 col-md-4">
              	<label for="inputEmail3" class="control-label">Mobile :</label>
                <p>
                    <input type="text" class="form-control" id="" placeholder="">
                </p>
              </div>
              <div class="col-sm-12 col-md-4">
              	<label for="inputEmail3" class="control-label">Enter Message Here :</label>
                <p>
                    <textarea type="text" class="form-control"> </textarea>
                </p>
                <button class="btn btn-success" type="button" data-toggle="modal" data-target="#update-project">
                Submit
                </button>
              </div>
              <div class="col-sm-12 col-md-4">
              	&nbsp;
              </div>
              <div class="col-sm-12 col-md-4">
              	&nbsp;
              </div>
              <div class="clearfix"></div>
              
            </div>
            </form>
            </div>
        </div>
    </div> <!-- /container -->        
    </section>

            </div>
        </div>
    </section>
</div>