        <div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="box-content">
							<h3 class="widget-title">Get In Touch</h3>
							<p>Help Desk is available 24 x 7 for your service. The office
								follows the following time table. Ut wisi enim ad minim veniam,
								quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
								aliquip.</p>
							<ul class="footer-list">
								<li>Mon - Fri: 10 AM to 5 PM</li>
								<li>Sat - Sun : 10 AM to 2 PM</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="box-content">
							<h3 class="widget-title">About</h3>
							<ul class="footer-links">
								<li><a href="" title="" class="">about us</a></li>
								<li><a href="" title="" class="">about us</a></li>
								<li><a href="" title="" class="">about us</a></li>
								<li><a href="" title="" class="">about us</a></li>
								<li><a href="" title="" class="">about us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="box-content">
							<h3 class="widget-title">Social Links</h3>
							<ul class="footer-links">
								<li><a href="" title="" class=""><i
										class="fa  fa-facebook"> </i> Facebook</a></li>
								<li><a href="" title="" class=""><i
										class="fa  fa-twitter"> </i> Facebook</a></li>
								<li><a href="" title="" class=""><i
										class="fa  fa-google-plus"> </i> Facebook</a></li>
								<li><a href="" title="" class=""><i
										class="fa  fa-linkedin"> </i> Facebook</a></li>
							</ul>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="box-content">
							<h3 class="widget-title">Contact Link</h3>
							<ul class="footer-links address-links">
								<li><i class=" fa fa-building-o"></i>
								<address>
										John Terry Industrial Authority <br /> Capitus Trisul No. 1245<br />
										Capital Federal<br /> USA
									</address></li>
								<li><i class="fa fa-phone"></i><span class>(012)
										123-4567-890 <br /> (890) 123-1234-410
								</span></li>
								<li><a href="" class=""><i class="fa fa-envelope"></i><span
										class>info@sample.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-privacy">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<p>&copy; 2015 Geppetto . All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>