<div class="main">
    <section class="section-bg1">

<div class="container" ng-include src="templateUrl"></div>
<!-- <div class="landing-content" data-ng-controller="landingController">
    <div class="landing-bg-pic">
        <img src="app/img/login.jpg" alt="Login">
    </div>
    <div class="landing-content-inside">
        <div class="landing-content-projects">
            <h1>Geppetto Home</h1>
            <h2>You have successfully logged in!</h2>
            <h2>Please choose existing project or create new one.</h2>
            <h3>Projects</h3>
            <div class="landing-projects-view">
                <div class="landing-projects">
                    <h4>Name</h4>
                    <h4>Label</h4>
                    <h4>Description</h4>
                    <div class="clear"></div>
                    <ul class="projects-list">
                        <li data-ng-repeat="object in json" id="{{object.id}}" data-ng-click="selectProject(object.id)">
                            <p>{{object.name}}</p>
                            <p>{{object.label}}</p>
                            <p>{{object.description}}</p>
                        </li>
                    </ul>
                </div>
                <button class="create-project" data-ng-click="createNewProject()">Create New Project</button>
            </div>
        </div>
    </div>
</div> -->

    </section>
</div>