<header class="user" style="width: 2200px;" data-ng-include="'app/views/en-US/user/header.html'"></header>
<div class="noun">
  <h2>Installr_User_Config</h2>
  <form class="form-horizontal" data-ng-submit="saveInstllrDtlsAndStatusChng(installrDetail)">
    <div class="form-group">
      <label class="control-label col-sm-2">installr_user_name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  data-ng-model="installrDetail.installr_user_name" placeholder="Enter installr_user_name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">installr_password:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control"  data-ng-model="installrDetail.installr_password" placeholder="Enter installr_password">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">installrToken:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control"  data-ng-model="installrDetail.installrToken" placeholder="Enter installrToken">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
<footer data-ng-include="'app/views/en-US/footer.html'"></footer>